<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.UserMapper">
    <select id="GetUser" resultType="com.example.demo.dto.User">
		select * from user_info where ID=#{ID}
	</select>

	<select id="LoginUser" resultType="com.example.demo.dto.User">
		select * from user_info where UserName=#{username} and Password=#{password}
	</select>

	<select id="findUserByUsername" resultType="com.example.demo.dto.User">
		select * from user_info where UserName=#{username}
	</select>



</mapper>